<% function draw(idTable, resultData, isLost) {
  
  var hideIndex = {};
  
%>
<table>

<%    
     for (var i = 0; i < resultData.length; i++) {
        var row = resultData[i];

    %>
    <tr class="uir-list-row-tr "  >
        <% for (var iD = 0; iD < row.length; iD++) {%>
          
            <td class="uir-list-row-cell listtexthl" ><%=row[iD]%></td>
       
            <% } %>  

      </tr>
      <% } %>  


      
    </tbody>
    </table>
  

    <%}

    draw('custpage_lista_detail2', resultData.rowdata2, isLost);
    
    %>

